<p>
  <strong>Name:</strong>
  <%= @badge_rule.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @badge_rule.author_rule.email %>
</p><br>

<%= link_to 'Редактировать', edit_admin_badge_rule_path(@badge_rule) %> |
<%= link_to 'Назад', admin_badge_rules_path %>
