<h1>Все бейджи</h1>

<p><%= link_to 'Новый badge', new_admin_badge_path %></p>

<%= render 'shared/errors', resource: @badge %>
<table class="table">
  <tr>
    <th>Name</th>
    <th>File_name</th>
    <th>Author</th>
    <th>Rules</th>
    <th>Rule_parameter</th>
    <th colspan="5">Действия</th>
  </tr>
  <%= render @badges %>
</table>
<%= link_to 'Назад', admin_tests_path %>
