<footer>
  <p>Автор проекта: Динара Петухова <%= github_url("Dinara9595", "TestGuru_rails") %></p>
  <p>Название проекта: TestGuru</p>
  <p>TestGuru - это приложение для прохождения тестов.</p>
  <p>Год: <%= current_year %></p>
  <p>Создан в рамках <%= school_url("http://thinknetica.com/", "Учебного проекта в онлайн-школе Thinknetica") %></p>
</footer>
