<h1>Все тесты</h1>

<%= link_to 'Ваши бейджи', badges_users_path %><br>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Number of questions</th>
    <th>Timer</th>
    <th>Действия</th>
  </tr>

  <%= render @tests %>
</table>
